# Dependencies
node_modules

# Build outputs
.next
out

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.pem
.cache
